<h1>ユーザー登録のご連絡</h1>

<p>この度は、キリスト教会マップへのユーザー登録ありがとうございます。</p>
<p>登録を完了致しましたので、ご連絡させて頂きます。</p>

<h4>【お客様の登録情報】</h4>

<p>氏          名： <%= @user.full_name %></p>
<p>メールアドレス： <%= @user.email %></p>

<p>
  ********************************************************<br>
  J.C.プロジェクト<br>
  住  所: 東京都新宿区百人町2-18-17<br>
  E-mail: j.c.project153@gmail.com<br>
  ********************************************************
</p>

