<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">この機能を利用するにはユーザー登録が必要です。</h4>
    </div>
    <div class="modal-body">
      <div class="field text-center">
        <%= link_to 'ユーザー登録', new_user_registration_path, class: 'btn btn-secondary modal_registration' %>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
    </div>
  </div>
</div>
</div>
