<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Us</h2>
        <h3 class="section-subheading text-muted">ご意見などがありましたら、以下からご連絡ください。</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSexu2JTzk4HL3pmCK_k-okp2hD2Ao2UBNRHCuITt31UN9mI4A/viewform" class="btn btn-xl" target="_blank">お問い合わせ</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Team</h2>
        <h3 class="section-subheading">このサイトは私が運営しています。</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member">
          <%= image_tag 'Asahi_Iwase.jpg', size: '240x240', class: 'img-responsive img-circle' %>
          <h4>Asahi Iwase</h4>
          <p class="text-muted">Lead Developer</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://www.facebook.com/asahi.iwase"><i class="fa fa-facebook"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="team-member">
          <%= image_tag 'Praise_town_logo.png', size: '240x240', class: 'img-responsive img-circle' %>
          <h4>J.C.Project</h4>
          <p class="text-muted">Organization</p>
          <ul class="list-inline social-buttons">
            <li><a href="https://www.facebook.com/j.c.project153/"><i class="fa fa-facebook"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
