<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">
        Welcome To<br>
        ChristChurches Map
      </div>
      <div class="intro-heading"><span class="font-red">教会</span>を検索</div>
      <%= link_to 'Search', maps_path, class: 'page-scroll btn btn-xl' %>
    </div>
  </div>
</header>

<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <h3 class="section-subheading text-muted">このサイトは以下のサービスを提供します。</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Map search</h4>
        <p class="text-muted">日本全国にあるプロテスタント教会をマップに表示します。教団教派・グループ・都道府県・名前・住所で検索することができます。</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Community</h4>
        <p class="text-muted">教団教派やグループを超えて、知ることができます。教会に行きたい方は連絡先を表示していますので、各自ご連絡をお願い致します。</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Good Life</h4>
        <p class="text-muted">教会を通して、すばらしい人生を体験できます。それぞれに合った教会が見つかることをお祈りします。</p>
      </div>
    </div>
  </div>
</section>
