// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    ***REMOVED***fb5844;
$theme-danger:     ***REMOVED***e74c3c;
$theme-secondary: ***REMOVED***8cb7ea;

$gray-base:			***REMOVED***000 !default;
$gray-darker:		lighten($gray-base, 13.5%) !default; // ***REMOVED***222
$gray-dark:			lighten($gray-base, 20%) !default;   // ***REMOVED***333
$gray:				lighten($gray-base, 33.5%) !default; // ***REMOVED***555
$gray-light:		lighten($gray-base, 46.7%) !default; // ***REMOVED***777
$gray-lighter:		lighten($gray-base, 93.5%) !default; // ***REMOVED***eee
