@import "variables.scss";
@import "mixins.scss";

.comment-form, #comments-list {
  .field {
    padding-bottom: 10px;
  }
}

.panel-heading-group {
  .user_profile {
    width: 50%;
    padding: 5px 5px;
  }
  .comment_edit_or_delete {
    width: 20%;
    padding: 10px 5px;
  }
  .created_at {
    width: 30%;
    padding: 10px 10px 10px 0;
  }
}

.panel-heading-group:after {
  content: '';
  display: block;
  clear: both;
}

.panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  height: 40px;
  float: left;
  p {
    font-size: 10px;
  }
}

@media(min-width:768px) {
  .comment-form {
  }
}

@media(max-width:767px) {
  .comment-form {
  }
}
