@import "variables.scss";
@import "mixins.scss";

// Google Map
// 共通
#google-map {
  #map {
    width: 100%;
    max-height: 100%;
  }
  .form-custom {
    select {
      text-align: center;
      text-align-last: center;
    }
  }
}

// スマホ用
@media(max-width:767px) {
  #google-map {
    #map {
      height: 600px;
    }
    padding: 10px 0;
    .form-custom {
      margin-bottom: 5px;
      label {
        width: 60px;
        text-align: center;
      }
    }
    .form-control {
      display: inline;
      width: 70%;
    }
    .centering {
      text-align: center;
    }
  }
}

// PC用
@media(min-width:768px) {
  #google-map {
    padding: 0;
    #map {
      height: 500px;
      max-height: 100%;
    }
    .form-custom {
      display: inline;
    }
    .form-control {
      display: inline;
      width: 16%;
    }
    .centering {
      text-align: center;
    }
  }
}

#church_search {
  padding-bottom: 10px;
}

@media(min-width:768px) {
  #church_search {
    padding: 20px 0;
  }
}

