@import "variables.scss";
@import "mixins.scss";

input,
textarea {
  @include serif-font;
}

.alert {
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.btn-xl-secondary {
  @include button-variant(white, $theme-secondary, $theme-secondary);
  @include heading-font;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}

.line-section-small {
  padding-top: 25px;
}

.line-section-middle {
  padding-top: 50px;
}

.element-section-small {
  margin-top: 25px;
}

.element-section-middle {
  margin-top: 50px;
}

.btn-secondary {
  @include button-variant(white, $theme-secondary, $theme-secondary);
  @include heading-font;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.loading {
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
  }
}

