@import "variables.scss";
@import "mixins.scss";

.new_user, .edit_user {
  .field {
    padding-bottom: 20px;
    input {
      max-width: 100%;
      width: 250px;
      height: 32px;
      border: 1px solid #ccc;
    }
    #user_remember_me {
      width: 12px;
      height: 12px;
    }
  }
}

.show_user {
  .field {
    padding-bottom: 20px;
  }
  .user_info {
    font-size: 18px;
  }
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.show_user {
  .icon {
    width: 100px;
    height: 100px;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
