<p><%= @email %> 様</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>登録アドレスが <%= @resource.unconfirmed_email %> に変更されました。</p>
<% else %>
  <p>登録アドレスが <%= @resource.email %> に変更されました。</p>
<% end %>
