<p><%= @resource.email %> 様</p>

<p>パスワードを変更するためのリンクを送信しました。</p>
<p>下記のリンクから変更することができます。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしパスワードの変更を希望しない場合は、このメールを削除してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを設定するまで、変更されません。</p>
